
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #d1d1dd;
}

.article{
    padding: 10px;
    background: white;
    border: 1px solid gray;
    margin: ;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.item__author{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
}

.item__text,
.item__big-text{
	font-size: 14px;
    margin: 0;
}

.item__text{
	padding: 0 0 5px 0;
}

.item__readmore{
	font-size: 12px;
	font-style: italic;
}

.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author,
.add__text,
.add__btn,
.add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #fff;
  text-transform: uppercase;
  background: #007ddc;
}
.add__btn:disabled {
  background: #ccc;
  color: #999;
}

.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author, 
.add__text, 
.add__btn, 
.add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #CCC;
  color: #999;
}

.ratingBlock{
	padding: 10px 0 0 0;
}

.ratingBlock span{
	padding: 0 7px;
}

.item__rating__b{
	color: red
}

.item__rating__g{
	color: green;
}

.item__rating{
	color: gray;
}